body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

.detail__intro-infor, .detail__infor table {
    background: #f3f4f7;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default input,*/
select {
    max-width: 280px;
}

body a:hover {
    cursor:pointer;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.menu-dropdown:hover > .dropdown-menu {
    display: block;
}

.menu-dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.item-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.item-card > .price {
    color: grey;
    font-size: 22px;
}

.item-card h6 {
    margin-bottom: 10px;
    height: 35px;
}

    .item-card .add-to-cart {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #0094ff;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    .item-card .add-to-cart:hover {
        opacity: 0.7;
    }




.detail__intro-img-wrap {
    border: 1px solid #e1e1e1;
    padding: 5px 10px;
}
    .detail__intro-img-wrap img {
        height: 282px;
    }

.detail__intro-infor {
    padding: 29px 20px;
}
    .detail__intro-infor h1 {
        margin-bottom: 15px;
    }

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

    #back2Top:hover {
        background-color: #DDF;
        color: #000;
    }