USE [WebBanSach2DB]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 02/27/2020 09:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'ad', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'client', N'Khách hàng')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'mod', N'Nhân viên')
/****** Object:  Table [dbo].[Orders]    Script Date: 02/27/2020 09:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
	[CustomerAddress] [nvarchar](max) NOT NULL,
	[CustomerEmail] [nvarchar](max) NOT NULL,
	[CustomerMobile] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[PaymentMethod] [nvarchar](max) NULL,
	[PaymentStatus] [bit] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Orders] ON
INSERT [dbo].[Orders] ([ID], [CustomerName], [CustomerAddress], [CustomerEmail], [CustomerMobile], [CreatedDate], [CreatedBy], [PaymentMethod], [PaymentStatus], [Status]) VALUES (2, N'Client 2', N'abc xyz', N'client2@gmail.com', N'012938213801', CAST(0x0000AB6C00913959 AS DateTime), NULL, N'cod', 0, 1)
INSERT [dbo].[Orders] ([ID], [CustomerName], [CustomerAddress], [CustomerEmail], [CustomerMobile], [CreatedDate], [CreatedBy], [PaymentMethod], [PaymentStatus], [Status]) VALUES (3, N'Unregister Client', N'123/321 Abc, hjks', N'unrclient@abc.xyz', N'012938213801', CAST(0x0000AB6D0128B454 AS DateTime), NULL, N'cod', 0, 2)
SET IDENTITY_INSERT [dbo].[Orders] OFF
/****** Object:  Table [dbo].[Errors]    Script Date: 02/27/2020 09:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Errors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Errors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 02/27/2020 09:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON
INSERT [dbo].[Categories] ([ID], [CategoryName], [Description], [CreateDate], [CreateBy], [UpdatedDate], [UpdateBy], [Status]) VALUES (1, N'Tâm Lý - Kỹ Năng Sống', N'tam-ly-ky-nang-song', CAST(0x0000AB56008DCE58 AS DateTime), N'admin', CAST(0x0000AB5F00F3C967 AS DateTime), N'admin', 1)
INSERT [dbo].[Categories] ([ID], [CategoryName], [Description], [CreateDate], [CreateBy], [UpdatedDate], [UpdateBy], [Status]) VALUES (2, N'Kinh Tế - Quản Lý', N'kinh-te-quan-ly', CAST(0x0000AB56008DD92C AS DateTime), N'admin', CAST(0x0000AB56008DD92C AS DateTime), N'admin', 1)
INSERT [dbo].[Categories] ([ID], [CategoryName], [Description], [CreateDate], [CreateBy], [UpdatedDate], [UpdateBy], [Status]) VALUES (3, N'Marketing - Bán hàng', N'marketing-ban-hang', CAST(0x0000AB56008DE380 AS DateTime), N'admin', CAST(0x0000AB56008DE380 AS DateTime), N'admin', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
/****** Object:  Table [dbo].[AuthorDetails]    Script Date: 02/27/2020 09:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AuthorDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuthorDetails] ON
INSERT [dbo].[AuthorDetails] ([ID], [Name], [Description], [CreateDate], [CreateBy], [UpdatedDate], [UpdateBy], [Status]) VALUES (1, N'David Niven', N'david-niven', CAST(0x0000AB56008DCF84 AS DateTime), N'admin', CAST(0x0000AB56008DCF84 AS DateTime), N'admin', 1)
INSERT [dbo].[AuthorDetails] ([ID], [Name], [Description], [CreateDate], [CreateBy], [UpdatedDate], [UpdateBy], [Status]) VALUES (2, N'Mari Tamagawa', N'mari-tamagawa', CAST(0x0000AB56008DD06B AS DateTime), N'admin', CAST(0x0000AB56008DD06B AS DateTime), N'admin', 1)
INSERT [dbo].[AuthorDetails] ([ID], [Name], [Description], [CreateDate], [CreateBy], [UpdatedDate], [UpdateBy], [Status]) VALUES (3, N'Robin Sharma', N'robin-sharma', CAST(0x0000AB56008DD0CD AS DateTime), N'admin', CAST(0x0000AB56008DD0CD AS DateTime), N'admin', 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[AuthorDetails] OFF
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 02/27/2020 09:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Dob] [datetime] NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Address], [Dob], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2647cc31-7226-47db-8ab9-fdcaa431656b', N'Client 2', N'abc xyz', CAST(0x00008B8C00000000 AS DateTime), N'client2@gmail.com', 0, N'ABixOk8saODYUMizQoG9Ugk0IKYDddxcTqAwMiuZ+u0hyyYQTh1DnsajUlkOXC7FjA==', N'f2795466-3e38-4435-ae67-3b1531127f54', N'012938213801', 0, 0, NULL, 1, 0, N'client2@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Address], [Dob], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'ad3b7c5f-fbae-4c8a-a1ea-bc7f89db2860', N'Admin', N'123 Admin', NULL, N'admin@abc.xyz', 0, N'AL+P6QeBAwfDk+j0OqfsPFxg1QmYmyo9yH7IH+ag1jBQz1rf25mYWPCqGVPEsDdBHQ==', N'179732cc-c1df-4cb3-9c8d-299c2adaf86e', NULL, 0, 0, NULL, 1, 0, N'admin@abc.xyz')
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Address], [Dob], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'fef2f144-2db2-4375-a43e-f4db83d3473b', N'Client 1', N'Số 12, đường ABC', CAST(0x00008AAB00000000 AS DateTime), N'client1@gmail.com', 0, N'AOPIullGZPMBuPXo2lM5vN70UTVMrNJLySlLxWjzbj1VwuW4QWM3WADUAd0snkGZ4w==', N'5b6bc5d8-77da-4c90-8817-df38eb9b087c', N'012938213801', 0, 0, NULL, 1, 0, N'client1@gmail.com')
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 02/27/2020 09:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'ad3b7c5f-fbae-4c8a-a1ea-bc7f89db2860', N'ad')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2647cc31-7226-47db-8ab9-fdcaa431656b', N'client')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'fef2f144-2db2-4375-a43e-f4db83d3473b', N'client')
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 02/27/2020 09:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 02/27/2020 09:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 02/27/2020 09:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CateID] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[Purchase] [int] NOT NULL,
	[Star] [float] NOT NULL,
	[NameID] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON
INSERT [dbo].[Products] ([ID], [Name], [CateID], [Description], [Image], [Price], [Purchase], [Star], [NameID], [CreateDate], [CreateBy], [UpdatedDate], [UpdateBy], [Status], [Link]) VALUES (1, N'Bí Mật Hành Trình Tình Yêu', 1, N'\description\1\bi-mat-hanh-trinh-tinh-yeu.txt', N'/img/1/bi-mat-hanh-trinh-tinh-yeu.jpg', 45000, 0, 0, N'bi-mat-hanh-trinh-tinh-yeu', CAST(0x0000AB56008DCFE7 AS DateTime), N'admin', CAST(0x0000AB6400F12349 AS DateTime), N'admin', 1, N'https://sachvui.com/doc-sach/bi-mat-hanh-trinh-tinh-yeu/chuong-1-kham-pha-bi-mat-hanh-trinh-cua-tinh-yeu.html')
INSERT [dbo].[Products] ([ID], [Name], [CateID], [Description], [Image], [Price], [Purchase], [Star], [NameID], [CreateDate], [CreateBy], [UpdatedDate], [UpdateBy], [Status], [Link]) VALUES (2, N'Mặc Kệ Thiên Hạ - Sống Như Người Nhật', 1, N'\description\1\mac-ke-thien-ha-song-nhu-nguoi-nhat.txt', N'\img\1\mac-ke-thien-ha-song-nhu-nguoi-nhat.jpg', 50000, 0, 0, N'mac-ke-thien-ha-song-nhu-nguoi-nhat', CAST(0x0000AB56008DD06D AS DateTime), N'admin', CAST(0x0000AB56008DD06D AS DateTime), N'admin', 1, N'https://sachvui.com/doc-sach/mac-ke-thien-ha-song-nhu-nguoi-nhat-mari-tamagawa/loi-tua.html')
INSERT [dbo].[Products] ([ID], [Name], [CateID], [Description], [Image], [Price], [Purchase], [Star], [NameID], [CreateDate], [CreateBy], [UpdatedDate], [UpdateBy], [Status], [Link]) VALUES (3, N'Đời Ngắn Đừng Ngủ Dài', 1, N'\description\1\doi-ngan-dung-ngu-dai.txt', N'\img\1\doi-ngan-dung-ngu-dai.jpg', 45000, 0, 0, N'doi-ngan-dung-ngu-dai', CAST(0x0000AB56008DD0D0 AS DateTime), N'admin', CAST(0x0000AB56008DD0D0 AS DateTime), N'admin', 1, N'https://sachvui.com/doc-sach/doi-ngan-dung-ngu-dai-robin-sharma/hay-la-chinh-minh.html')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
SET IDENTITY_INSERT [dbo].[Products] OFF
/****** Object:  Table [dbo].[ProductAuthors]    Script Date: 02/27/2020 09:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAuthors](
	[ProductID] [int] NOT NULL,
	[AuthorID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductAuthors] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[AuthorID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ProductAuthors] ([ProductID], [AuthorID]) VALUES (1, 1)
INSERT [dbo].[ProductAuthors] ([ProductID], [AuthorID]) VALUES (1, 463)
INSERT [dbo].[ProductAuthors] ([ProductID], [AuthorID]) VALUES (1, 464)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 02/27/2020 09:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [Quantity]) VALUES (2, 1, 1)
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [Quantity]) VALUES (2, 2, 1)
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [Quantity]) VALUES (2, 3, 1)
/****** Object:  Default [DF__AuthorDet__Statu__117F9D94]    Script Date: 02/27/2020 09:59:08 ******/
ALTER TABLE [dbo].[AuthorDetails] ADD  DEFAULT ((0)) FOR [Status]
GO
/****** Object:  Default [DF__Categorie__Statu__1367E606]    Script Date: 02/27/2020 09:59:08 ******/
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [Status]
GO
/****** Object:  Default [DF__Products__Status__1273C1CD]    Script Date: 02/27/2020 09:59:08 ******/
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Status]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]    Script Date: 02/27/2020 09:59:08 ******/
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]    Script Date: 02/27/2020 09:59:08 ******/
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]    Script Date: 02/27/2020 09:59:08 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]    Script Date: 02/27/2020 09:59:08 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.OrderDetails_dbo.Orders_OrderID]    Script Date: 02/27/2020 09:59:08 ******/
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderID]
GO
/****** Object:  ForeignKey [FK_dbo.OrderDetails_dbo.Products_ProductID]    Script Date: 02/27/2020 09:59:08 ******/
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID]
GO
/****** Object:  ForeignKey [FK_dbo.ProductAuthors_dbo.AuthorDetails_AuthorID]    Script Date: 02/27/2020 09:59:08 ******/
ALTER TABLE [dbo].[ProductAuthors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductAuthors_dbo.AuthorDetails_AuthorID] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[AuthorDetails] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductAuthors] CHECK CONSTRAINT [FK_dbo.ProductAuthors_dbo.AuthorDetails_AuthorID]
GO
/****** Object:  ForeignKey [FK_dbo.ProductAuthors_dbo.Products_ProductID]    Script Date: 02/27/2020 09:59:08 ******/
ALTER TABLE [dbo].[ProductAuthors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductAuthors_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductAuthors] CHECK CONSTRAINT [FK_dbo.ProductAuthors_dbo.Products_ProductID]
GO
/****** Object:  ForeignKey [FK_dbo.Products_dbo.Categories_CateID]    Script Date: 02/27/2020 09:59:08 ******/
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CateID] FOREIGN KEY([CateID])
REFERENCES [dbo].[Categories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CateID]
GO
