@model ClientProductListResponse
@{
    ViewBag.Title = "Trang chủ";
}

@section searchBar{
    @using (Html.BeginForm("Index", "Home", new { @categoryId = "" }, FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
    {
        <input class="form-control mr-sm-2" id="search-text" name="search" type="search" placeholder="Nhập sách muốn tìm..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btn-search">
            <i class="fa fa-search"></i>
        </button>
    }

}

<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Sản phẩm</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1">Sản phẩm mới</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2">Sản phẩm "HOT"</a>
    </li>
</ul>

<div class="tab-content">
    <div id="home" class="container tab-pane active">
        <br />
        <nav class="navbar-nav bg-transparent"><h4>Thể loại: <span class="text-danger">@(ViewBag.CategoryID == null ? "tất cả" : ViewBag.CategoryID)</span></h4></nav>
        <br />
        <div id="data-box">
            <div class="row">
                @foreach (var item in Model.ProductList.Items)
                {
                    <div class="col-md-3">
                        @{ Html.RenderPartial("_ProductCard", item); }
                    </div>
                }
            </div>
        </div>
        <br /><br />
        @{ Html.RenderPartial("_Pager", Model.ProductList.Pager); }
    </div>
    <div id="menu1" class="container tab-pane fade">
        <br>
        <div class="row">
            @foreach (var item in Model.NewsProducts)
            {
                <div class="col-md-3">
                    @{ Html.RenderPartial("_ProductCard", item); }
                </div>
            }
        </div>
    </div>
    <div id="menu2" class="container tab-pane fade">
        <br>
        <div class="row">
            @foreach (var item in Model.HotProducts)
            {
                <div class="col-md-3">
                    @{ Html.RenderPartial("_ProductCard", item); }
                </div>
            }
        </div>
    </div>
</div>
<a id="back2Top" title="Back to top" href="#">&#10148;</a>

@section homeScript{
    @Scripts.Render("~/bundles/app-js.js")
}
