
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    <title>OrderComplete</title>
</head>
<body>
    <div class="container">
        <div class="mt-1">
            <h1>Cảm ơn vì đã đặt hàng.</h1>
        </div>
        <p class="lead">Bạn sẽ sóm nhận được mail xác nhận từ địa chỉ admin@abc.xyz.</p>
        <a href="/" class="btn btn-link">Về trang chủ</a>
    </div>
</body>
</html>
